@import "./shared.css";

nav {
    @media print {
        @apply hidden
    }
    &:has(.top-nav) {
        .toc {
            @apply hidden
        }
        .skip-nav {
            @apply hidden
        }
        .nav-menu-button {
            @apply hidden
        }
        .nav-bar-cell1-rev, .nav-list > li:hover {
            @apply text-foreground-link
        }
        .top-nav::after, .sub-nav .sub-nav-list:not(:empty)::after {
            content: "";
            @apply w-full h-0 border-t border-page-foreground block my-2
        }
        .nav-list {
            .nav-list {
                @apply pl-4
            }
        }
        .sub-nav {
            .sub-nav-list {
                & > *:hover {
                    @apply text-foreground-link
                }
                & > *:not(:first-child) {
                    &::before {
                        @apply icon-triangle-right inline-icon
                    }
                    @apply ml-2
                }
            }
            .nav-list-search {
                > *:first-child {
                    @apply w-full outline outline-table-border px-1
                }
                > *:last-child {
                    @apply absolute right-0 icon-x inline-icon top-[calc((1lh-1.5cap)/2)] invisible
                }
                @apply relative
            }
        }
        @apply fixed left-[max((100%-85rch)/2-30ch-1rem,0px)] top-12 w-[30ch] text-sm text-foreground-disabled
    }
    &.toc {
        .hide-sidebar, .show-sidebar {
            @apply hidden
        }
        .toc-header {
            > *:first-child {
                @apply outline outline-table-border px-1 inline-block min-w-[20ch] flex-1
            }
            > *:last-child {
                @apply absolute right-0 icon-x inline-icon top-[calc((1lh-1.5cap)/2)] invisible
            }
            @apply relative flex flex-row w-full border-b border-page-foreground mb-2 pb-2
        }
        .toc-list {
            a {
                @apply text-foreground-disabled
            }
            .current-selection, a:hover {
                @apply text-foreground-link
            }
            .toc-list {
                @apply pl-4
            }
        }
        @apply fixed right-[max((100%-85rch)/2-30ch-1rem,0px)] top-12 w-[30ch] text-sm text-foreground-disabled
    }
}

div:has(> #page-search-input) {
    #page-search-reset {
        @apply icon-x inline-icon top-[calc((1lh-1.5cap)/2)] invisible ml-[calc(-1.5cap-0.3em)] mr-4
    }
    .page-search-details {
        summary {
            @apply w-fit
        }
        @apply w-fit inline-block
    }
    #page-search-input {
        @apply outline outline-table-border w-[min(100%,30ch)] px-1
    }
    > *:not(:last-child, #page-search-input, #page-search-reset) {
        @apply mr-4
    }
}

.page-search-info {
    p, #page-search-link {
        &:not(:first-child) {
            @apply mt-2
        }
    }
    
    @apply hidden bg-table-odd border border-table-border p-2 mt-2
}

#page-search-notify {
    @apply mt-2
}

p:has(+ #page-search-link) {
    @apply mb-2
}

#page-search-link {
    @apply underline
}

.copy {
    > img {
        @apply icon-copy inline-icon mr-0 ml-[0.3em] mt-[calc((1lh-1.5cap)/2)];
    }
    > *:not(img) {
        @apply transition-opacity duration-200 ease-in-out opacity-0
    }
    &:hover > *:not(img) {
        @apply opacity-100
    }
    @media print {
        @apply hidden
    }
}

.ui-menu {
    > *:nth-child(odd) {
        @apply bg-table-odd
    }
    > *:nth-child(even) {
        @apply bg-table-even
    }
    > * {
        @apply px-2 py-[0.2em]
    }
    .ui-menu-item-wrapper {
        @apply p-0 grid grid-cols-[0.5fr_1fr]
    }
    .ui-state-focus, .ui-state-active {
        @apply m-0 text-foreground-link
    }
    > *:not(.result-item) {
        @apply font-bold
    }
    @apply border border-table-border
}

.main-grid {
    @apply flex flex-row;
    @apply text-page-foreground bg-page-background;

    main {
        @apply shared-main
    }

    a {
        @apply shared-link
    }

    @apply shared-headings;
    * {
        @apply shared-headings-margins;
    }

    hr {
        @apply mt-2 -mx-2 w-[calc(100%+(--spacing(4)))]
    }
    .member-list > li:not(:last-child)::after, .details-list > li:not(:last-child) .member-list > li:last-child::after {
        content: "";
        @apply mt-2 -mx-2 w-[calc(100%+(--spacing(4)))] border-t block
    }

    code {
        @apply font-mono
    }
    strong, b, .bold, .deprecated-label {
        @apply shared-bold
    }
    em, i, cite, .italic {
        @apply shared-italic
    }
    ins, u {
        @apply shared-underline
    }
    del {
        @apply shared-strikethrough
    }
    kbd {
        @apply shared-kbd
    }
    .highlighted {
        @apply shared-highlight
    }

    .vertical-separator {
        @apply px-[0.125em]
    }

    blockquote {
        @apply shared-blockquote
    }

    .deprecation-block {
        @apply shared-blockquote-caution
    }

    .index:last-of-type {
        @apply mb-8
    }

    .type-signature, .package-signature, .module-signature, .member-signature {
        @apply whitespace-pre-wrap font-mono mt-2
    }
    .type-name-label {
        @apply font-bold
    }
    .anchor-link {
        :hover > & {
            @apply visible
        }
        @apply inline-icon icon-anchor-link text-current invisible
    }
    .contents-list > :first-child {
        @apply mt-2
    }
    hr:has(+ .help-footnote), .sub-title h2 {
        @apply mb-2
    }

    .snippet-container {
        .snippet-copy {
            @apply absolute top-0 right-0 flex flex-row p-2;
            @media print {
                @apply hidden
            }
        }
        .snippet {
            @apply bg-table-odd p-2 overflow-x-auto
        }
        @apply outline outline-table-border relative -mx-2 w-[calc(100%+(--spacing(4)))]
    }

    :where(.block, .help-section):not(.summary-table .block) {
        @apply mt-2
    }
    :where(.block, .help-section):not(.summary-table .block) > *:not(:first-child) {
        @apply mt-2
    }

    .block, .help-section {
        @apply shared-lists
    }
    .member-list, .block, .help-section {
        code:not(.snippet code) {
            @apply shared-code
        }
    }

    .hierarchy {
        li li {
            @apply ml-8
        }
    }

    dl {
        &.notes dt {
            @apply font-bold
        }
        dd {
            @apply ml-4
        }
        @apply mt-2
    }

    .caption, .inherited-list > h3 {
        @apply text-base px-2 py-1 font-normal w-fit mt-2 bg-table-odd border-b-3 border-table-border
    }
    .caption {
        @apply -mx-2
    }
    .summary-table, .result-table {
        > * {
            @apply py-1 px-2 outline outline-table-border
        }
        @apply -mx-2 w-[calc(100%+(--spacing(4)))]
    }
    table {
        @apply shared-table
    }
    .summary-table, .result-table, table {
        .search-result-link {
            &.selected {
                @apply text-foreground-link
            }
            @apply text-page-foreground grid grid-cols-[0.5fr_1fr]
        }
        .table-header {
            @apply bg-table-odd font-bold
        }
        .even-row-color, .search-result-link:nth-child(even) {
            @apply bg-table-even
        }
        .odd-row-color, .search-result-link:nth-child(odd) {
            @apply bg-table-odd
        }
        &.two-column-summary {
            @apply grid grid-cols-[auto_1fr]
        }
        &.three-column-summary {
            @apply grid grid-cols-[auto_auto_1fr]
        }
        &.three-column-release-summary {
            @apply grid grid-cols-[1fr_auto_1fr]
        }
        &.four-column-summary {
            @apply grid grid-cols-[auto_auto_auto_1fr]
        }
        &.result-table {
            @apply grid grid-cols-1
        }
    }
    .table-tabs {
        .table-tab, .page-search-header, .active-table-tab {
            @apply py-1 px-2
        }
        .table-tab, .page-search-header:not(:only-child) {
            @apply text-foreground-disabled border-b-3 border-page-background
        }
        .active-table-tab, .page-search-header:only-child {
            @apply bg-table-odd border-b-3 border-table-border
        }
        @apply flex flex-row gap-2 -mx-2 max-w-[calc(100%+(--spacing(4)))] w-[calc(100%+(--spacing(4)))] mt-2
    }

    .inherited-list {
        @apply -mx-2 w-[calc(100%+(--spacing(4)))] mt-2 grid grid-cols-1;
        >:not(h3) {
            @apply py-1 px-2 bg-table-odd block outline outline-table-border
        }
        > h3 {
            @apply mt-0
        }
    }

    main > .inheritance {
        @apply overflow-x-auto mt-2
    }
    .inheritance .inheritance {
        @apply ml-8
    }
}
