@import "./shared.css";

main {
    strong, b {
        @apply shared-bold
    }
    em, i, cite {
        @apply shared-italic
    }
    ins, u {
        @apply shared-underline
    }
    del, strike {
        @apply shared-strikethrough
    }
    kbd {
        @apply shared-kbd
    }
    mark {
        @apply shared-highlight
    }

    small {
        @apply text-sm text-foreground-disabled
    }

    blockquote {
        @apply shared-blockquote
    }

    blockquote.alert-note {
        @apply shared-blockquote-note
    }

    blockquote.alert-tip {
        @apply shared-blockquote-tip
    }

    blockquote.alert-important {
        @apply shared-blockquote-important
    }

    blockquote.alert-warning {
        @apply shared-blockquote-warning
    }

    blockquote.alert-caution {
        @apply shared-blockquote-caution
    }

    table {
        @apply shared-table
    }

    a {
        @apply shared-link
    }

    .footnotes {
        &::before {
            content: "";
            @apply my-2 -mx-2 w-[calc(100%+(--spacing(4)))] border-t border-page-foreground block
        }
        .reversefootnote {
            font-variant-emoji: text;
        }
        @apply text-sm text-foreground-disabled
    }

    code {
        &:not(pre &) {
            @apply shared-code;
            &.highlight {
                /* Needed for specificity, to override rouge */
                @apply bg-table-odd
            }
        }
    }

    @apply shared-headings;
    @apply shared-lists;

    hr {
        @apply -mx-2 w-[calc(100%+(--spacing(4)))]
    }

    :has(:not(article, section, header, footer)) ~ *, :not(article, section, header, footer) ~ * {
        /* Margins get this awful selector. It targets all non-nesting direct children of nesting tags, *except* the very first in the document */
        &, * {
            :is(main, article, section, header, footer) > &:not(article, section, header, footer) {
                @apply mt-2;
                @apply shared-headings-margins;
                &:where(h1) {
                    @apply mt-8
                }
            }
            details > &:not(article, section, header, footer, summary) {
                @apply mt-2;
                @apply shared-headings-margins;
                &:where(h1) {
                    @apply mt-8
                }
            }
        }
    }

    article, section, header, footer {
        display: contents;
    }

    details {
        @apply -mx-2 w-[calc(100%+(--spacing(4)))];
        summary {
            @apply p-2 bg-table-odd border border-l-3 border-table-border
        }
        &[open] {
            &::details-content {
                @apply p-[calc(--spacing(2)-1px)] pt-0 border border-table-border
            }
            > :has(pre), > :has(table), > pre, > table {
                &:nth-child(2) {
                    :has(pre), pre, :has(table), table {
                        @apply mt-0
                    }
                    @apply -mt-px
                }
                &:last-child {
                    :has(pre), pre, :has(table), table {
                        @apply mb-0
                    }
                    :has(table), table, &:is(table) {
                        @apply w-[calc(100%+(--spacing(4)))]
                    }
                    @apply -mb-2
                }
            }
        }
    }

    @apply shared-main;

    pre {
        .copy {
            &::after {
                @apply icon-copy inline-icon mr-0 ml-[0.3em] mt-[calc((1lh-1.5cap)/2)];
            }
            > *:first-child {
                @apply transition-opacity duration-200 ease-in-out opacity-0
            }
            &:hover > *:first-child {
                @apply opacity-100
            }
            @apply absolute top-0 right-0 p-2 flex flex-row font-normal text-page-foreground font-sans;
            @media print {
                @apply hidden
            }
        }
        @apply border border-table-border relative bg-table-odd p-2 overflow-x-auto -mx-2 w-[calc(100%+(--spacing(4)))];
        &.highlight {
            /* Needed for specificity, to override rouge */
            @apply bg-table-odd
        }
    }

    :is(h1, h2, h3, h4, h5, h6) > a {
        &.anchor-heading {
            &:hover::after {
                @apply visible
            }
            &::after {
                @apply inline-icon icon-anchor-link text-current invisible
            }
        }
        @apply text-page-foreground
    }
}

nav {
    @media print {
        @apply hidden
    }
    &.on-this-page {
        a {
            @apply text-foreground-disabled
        }
        a:active, a:hover, a.to-current-target {
            @apply text-foreground-link
        }

        li li {
            @apply pl-4
        }
        h2 {
            &::after {
                content: "";
                @apply w-full h-0 border-t border-page-foreground block my-2
            }
        }
        @apply fixed right-[max((100%-85rch)/2-25rch-var(--spacing)*4,0px)] top-12 w-[25rch] text-sm text-foreground-disabled
    }

    &.site-nav {
        a {
            @apply text-foreground-disabled
        }
        a:active, a:hover, a.to-current-page {
            @apply text-foreground-link
        }

        li details summary {
            &::marker {
                content: "";
                @apply hidden
            }
            &::after {
                @apply icon-chevron-right inline-icon mt-[calc((1lh-1.5cap)/2)] ml-auto mr-0
            }
            @apply flex flex-row
        }
        li details[open] summary::after {
            @apply icon-chevron-down
        }

        li li {
            @apply pl-4
        }
        h2 {
            &::after {
                content: "";
                @apply w-full h-0 border-t border-page-foreground block my-2
            }
        }
        @apply fixed right-[max(50%+85rch/2+var(--spacing)*4,25rch)] top-12 w-[25rch] text-sm text-foreground-disabled
    }

    @variant should-hide-navbars {
        @apply hidden
    }
}
